localDatabaseURI=mongodb://localhost/movie_api
atlasDatabaseURI=atlasDatabaseURI=mongodb+srv://<user>:<password>@cluster0.4setv.mongodb.net/<dbname>?retryWrites=true&w=majority  put yours
jwtSecret=yourkey3432
accessTokenexpires_expiresIn=600
refreshToken_expiresIn=50400

mvdb_api_key=yourmovieapikey